@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.dark {
  --color-background: #2e3c44;
  --color-primary: #bbe8d7;
  --color-text: #fafafae5;
  --font-primary: "Noto Sans", sans-serif;
}

.light {
  --color-background: #ffffff;
  --color-primary: #183D3D;
  --color-text: #000000;
  --font-primary: "Noto Sans", sans-serif;
}

/* ===== BASE LAYER ===== */
@layer base {
  html {
    @apply antialiased;
  }

  body {
    background-color: var(--color-background);
    font-family: var(--font-primary);
    color: var(--color-text);
  }
}