@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.dark {
  /* ---- background ---- */
  --color-background: #181C27;

  /* ---- primary ---- */
  --color-primary: oklch(79.2% 0.209 151.711);

  /* ---- hover ---- */
  --color-primary-hover: oklch(37.3% 0.034 259.733);
  --color-sidebar-hover: oklch(39.3% 0.095 152.535);

  /* ---- card ---- */
  --color-card-bg: oklch(27.8% 0.033 256.848);
  --color-card-hover: oklch(37.3% 0.034 259.733);

  /* ---- text ---- */
  --color-text: #FAFAFA;
  --color-text-subtitle: oklch(70.7% 0.022 261.325);

  /* ---- details ---- */
  --color-division: oklch(37.3% 0.034 259.733);

  /* ---- font ---- */
  --font-primary: Poppins, sans-serif;
  --font-secondary: "Roboto", sans-serif; 
}

.light {
  /* ---- background ---- */
  --color-background: #F7F7F7;          
  --color-sidebar-bg: #FFFFFF;          
  --color-division: #E5E5E5;            

  /* ---- primary ---- */
  --color-primary: #2563EB;             
  --color-primary-hover: #1D4ED8;

  /* ---- hover ---- */
  --color-sidebar-hover: #F0F0F0;

  /* ---- card ---- */
  --color-card-bg: #FFFFFF;     
  --color-card-hover: #F3F4F6;  
  --color-card-border: #E5E7EB;

  /* ---- text ---- */
  --color-text: #111827;                
  --color-text-subtitle: #6B7280;       

  /* ---- font ---- */
  --font-primary: Poppins, sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

/* ===== BASE ===== */
body {
  background-color: var(--color-background);
  font-family: var(--font-primary);
  color: var(--color-text);
}