@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   --color-background: #ffffff;
   --color-primary: #254827;
   --color-text: #0c0c0c;
   --color-text-2: #ffffff;
   --color-text-3: #767676;
   --color-button-save: #834eff;
   --color-button-filter: #f3f5f7;  
   --color-filter: #E3EFF6;
   --color-sidebar: #f3f5f7;

   --font-primary: 'Roboto', sans-serif;
}

html, body, #root {
  font-family: var(--font-primary);
  background: var(--color-background);
  color: var(--color-text);
  height: 100%;
}

.container {
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}


/* 12px
0.75rem
14px
0.875rem
16px
1rem
18px
1.125rem
20px
1.25rem
24px
1.5rem
32px
2rem
36px
2.25rem */
