DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:5432/${DATABASE_NAME}?schema=public"
FRONTEND_URL=http://localhost:5173
REST_COUNTRIES_API_URL=https://restcountries.com/v3.1